<body class="hold-transition login-page">
  <div class="login-box" >
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>PingBing</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form>
        <div class='alert alert-danger' *ngIf="alertMessage.length">
          {{ alertMessage }}
        </div>
        <div class="form-group has-feedback">
          <input type="name" class="form-control" placeholder="Name" required minlength="3" name="username" [(ngModel)]="user.name" #username="ngModel">
          <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
          <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
              <div [hidden]="!username.errors.required">
                username is required
              </div>
              <div [hidden]="!username.errors.minlength">
                Le username doit avoir au moins 3 caractères
              </div>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" required minlength="3" name="passwd" [(ngModel)]="user.password" #passwd="ngModel">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div *ngIf="passwd.errors && (passwd.dirty || passwd.touched)"
               class="alert alert-danger">
              <div [hidden]="!passwd.errors.required">
                password is required
              </div>
              <div [hidden]="!passwd.errors.minlength">
                Le password doit avoir au moins 3 caractères
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <!--<div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>-->
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="onLoginClicked()" >Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!--div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a>
      </div>
      <!-- /.social-auth-links -->

      <!--<a href="#">I forgot my password</a><br>
      <a routerLink="/register" class="text-center">Register a new membership</a>-->

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
